@model PatentSpoiler.App.DTOs.Item.DisplayItemViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Bundles.Reference("scripts/custom/item", "end");
}

@section head{
    
}

@if (Model.LatestId.HasValue)
{
    <p class="bg-warning">You are looking at an old verison of this item.  Please go @Html.ActionLink("here", "View", new{id=Model.LatestId.Value}) to see the latest</p>
}

<div ng-app="item" ng-controller="AddItemController">

    <h2>@Model.Name</h2>
    
    <div class="row">
        <div class="col-md-1">Owner</div>
        <div class="col-md-11"><a href="/user/@Model.Owner">@Model.Owner</a></div>
        @if (ViewBag.CanEdit)
        {
            <div class="col-md-11"><a href="@Url.Action("View")/edit">Edit</a></div>
        }
    </div>
    <div class="row">
        <div class="col-md-1">Categories</div>
        <div class="col-md-4">
            <ul style="">
                @foreach (var category in Model.Categories)
                {
                    <li>@category</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <pre>@Model.Description</pre>
    </div>

    <div class="row">
        <ul>
            @foreach (var attachment in Model.Attachments)
            {
                <li>
                    @Html.RouteLink(@attachment.LinkText(), "GetAttachment", new {id = attachment.Id})
                </li>
            }
        </ul>
    </div>
</div>