@using Cassette.Scripts
@using PatentSpoiler.App
@using PatentSpoiler.App.Domain.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @{
        Bundles.Reference("scripts", "head");
        Bundles.Reference("Content");
    }
    @RenderSection("head", false)
    @Bundles.RenderScripts("head")
    @Bundles.RenderStylesheets()
    
</head>
    <body>
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="dropdown">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Patent Spoiler</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <form class="navbar-form navbar-left" role="search" method="get" action="/search">
                        <div class="form-group">
                            @Html.TextBox("term", null, new{@class="form-control", placeholder="Search"})
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Html.UserIsAuthenticated())
                        {
                            if (Html.UserIs(UserRole.Admin))
                            {
                            <li><a href="/admin">Admin</a></li>
                            }
                            <li><a href="/account">Account</a></li>
                            <li><a href="/account/logout">Log Out</a></li>
                        }
                        else
                        {
                            <li><a href="/account/login">Log In</a></li>
                        }
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


       
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - PatentSpoiler</p>
            </footer>
        </div>

        @Bundles.RenderScripts("end")
    </body>
</html>